<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> About </title>
  </head>
  <style>
<!--body {
        background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__480.jpg");
}
-->

</style>
  <body>
<font color="yellow">
<h1><strong>Germany</strong>, '<sup><i>the heart of Europe</i></sup>' <b>boasts plenty of attractions.</b></h1>
  <hr><h2 style="background-color:DodgerBlue;"><b>While Oktoberfest brings Munich (Bavaria) to life in fall,</h2>
   </hr>
   <h3 style="background-color:Red;">Hamburg is all about art and Berlin has the best music,</h3>
   <p style="background-color:Tomato;"> Frankfurt is the upcoming destination.</p>
  <django_content_type_app_label_model_76bd3d3b_uniq style="background-color:green;">Book a tour on the Mosel Wine Route for tasting fine wines or an Elbe or Rhine river cruise for breathtaking scenery</label>
</font>
</body>
</html>
