<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> About </title>
  </head>
  <style>
body {
        background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__480.jpg");
}

</style>
  <body>
<font color="green">
<p>Germany, the heart of Europe, boasts plenty of attractions.
  While Oktoberfest brings Munich (Bavaria) to life in fall, Hamburg is all about art and Berlin has the best music, Frankfurt is the upcoming destination. Book a tour on the Mosel Wine Route for tasting fine wines or an Elbe or Rhine river cruise for breathtaking scenery </p>
</font>
</body>
</html>
