<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <style>
  body
  {
        background-image: url(http://2.bp.blogspot.com/-NUwrKOke78w/TkTZCQhU2lI/AAAAAAAADdQ/DrzaUzflqX4/s1600/Neuschwanstein+germany.jpg);
        background-repeat: no-repeat;
        background-size: 1400px 800px;
  }
  </style>
  <body>
    <font size="15" color="black"><center>MAJESTIC GERMANY</center></font>
    <font size="6.5" color="black"><center>☰ MENU</center></font>
    <button type="button" class="btn btn-dark btn-lg btn-block">Home</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Articles</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Account</button>


  </body>
</html>
